{# =================================== #}
{# ============== DATA =============== #}
{# =================================== #}
{% set unique_id        = random()                                                    %}
{% set base_url         = url('<front>', {}, { 'absolute': true })                    %}
{% set data_title       = content["field_txt_title"][0]["#context"].value             %}
{% set data_description = content["field_txt_description"][0]["#context"].value       %}
{% set data_link        = content["field_link"][0]["#title"]                          %}
{% set data_img_src     = content["field_media_image"].0["#media"]|file_uri|file_url  %}
{% set data             = "{"
                           ~ "\"id\":"          ~ "\"" ~ unique_id        ~ "\","
                           ~ "\"title\":"       ~ "\"" ~ data_title       ~ "\","
                           ~ "\"description\":" ~ "\"" ~ data_description ~ "\","
                           ~ "\"link\":"        ~ "\"" ~ data_link        ~ "\","
                           ~ "\"img_src\":"     ~ "\"" ~ data_img_src     ~ "\"}" %}

{# =================================== #}
{# ============== HTML ============== #}
{# =================================== #}
{% block paragraph %}
    <div style="background-color:lightgray;height:600px;width:100%;display:flex;justify-content:center;align-items:center;">
        <react-tile-component id="{{unique_id}}" data-json="{{data}}"/>
    </div>
{% endblock paragraph %}


{# =================================== #}
{# ============ LIBRARY ============== #}
{# =================================== #}
{{ attach_library("react_theme/lib_paragraph_tile") }}
